.messages{
	height: 100px;
	background-color: #F9FFF6;
	padding: 10px;
	overflow: hidden;
}

.row{
	overflow: hidden;
}
.cell{
	float: left;
	width: 30px;
	height: 30px;
	/*border: 1px solid black;*/
	text-align: center;
	/* font-weight: 700; */
	font-size: 20px;
	background-size: cover;
}
.cell.notVisible{
	background-color: #D9D9F1;
	background-image: url(../images/notVisible128.gif);
}
.cell.numberBombs{
	background-color: #ADADE9;
}
.cell.notBomb{
	background-color: #F8F8F8;
}
.cell.bomb{
	background-color: #E38D8D;
	background-image: url(../images/bombTransp128.gif);
}
.cell.explodedBomb{
	background-image: url(../images/bombExploded128.gif);
}
