@font-face {
font-family: Electronica-Normal;
src: url("/miner/fonts/Electronica-Normal.woff") format("woff");
}

*:focus {outline: none;}

.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.messages{
	height: 100px;
	background-color: #F9FFF6;
	padding: 10px;
	overflow: hidden;
}

.field .row{
	overflow: hidden;
}
.field .cell{
	float: left;
	width: 30px;
	height: 30px;
	/*border: 1px solid black;*/
	text-align: center;
	/* font-weight: 700; */
	font-size: 20px;
	background-size: cover;
	opacity: 0.95;
}
.field .cell:hover{
	opacity: 0.9;
}
.field .cell:active{
	opacity: 1;
}
.field .cell.notVisible{
	background-color: #D9D9F1;
	background-image: url(/miner/images/notVisible128.gif);
}
.field .cell.numberBombs{
	background-color: #ADADE9;
}
.field .cell.notBomb{
	background-color: #FFFFFF;
}
.field .cell.bomb{
	background-color: #E38D8D;
	background-image: url(/miner/images/bombTransp128.gif);
}
.field .cell.explodedBomb{
	background-image: url(/miner/images/bombExploded128.gif);
}

.digitalBlock{
	clear: both;
    overflow: hidden;
}
.digitalBlock div{
	float: left;
	font-family: Electronica-Normal;
	font-size: 40px;
	color: #780707;
	margin-right: 208px;
	opacity: 0;
}

.settings .level{
	clear: both;
	overflow: hidden;
	/*height: 40px;*/
}
.settings .level .button10{
	float: left;
	margin-right: 15px;
	width: 50px;
}

.settings .newGame{
	margin-bottom: 10px;
	width: 311px;
	text-align: center;
}
.settings .saveSettings{
	margin-bottom: 10px;
	width: 311px;
	text-align: center;
}
.settings .row{
	margin: 5px 0;
	overflow: hidden;
	clear: both;
}
.settings .row .name{
	float: left;
	width: 170px;
}
.settings .row .value{
	float: left;
	width: 159px;
}