<?php

namespace miner\classes;

$settings = MinerController::getSettings()->getArraySettings();
$level = MinerController::getSettings()->getLevel();
$miner = MinerController::getMiner();
$rm = new RecordMapper();
$coll = $rm->findAll(0, 10);
?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php print 'Привет, '.$settings['name'] ?></title>
    <link href="/miner/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="/miner/js/lib.js" defer></script>
    <script src="/miner/js/script.js" defer></script>
    <script>
    	let level = <?php print $level ?>;
	</script>
</head>
<body>
	<div class="digitalBlock" id="digitalBlock">
		<div id="idCounterBomb" class="electronic"><?php print $miner->getSettings()['numberBombs']?></div>
		<button name="newGame" class="newGame button10">New Game</button>
		<div id="idTimer" class="electronic"><?php MinerWriter::printTimeGame($miner); ?></div>
	</div>

	<?php MinerWriter::printField($miner); ?>
	<form action="/" method="POST" id="formClickField">
		<input type="hidden" name="coord">
		<input type="hidden" name="newGame">
	</form>

	<div class="info">
		<form action="/" method="POST" id=formSettings class="settings">
			<div class="level">
				<div class="button10" onClick="setLevel(1)">0+</div>
				<div class="button10" onClick="setLevel(2)">12+</div>
				<div class="button10" onClick="setLevel(3)">18+</div>
				<div class="button10" onClick="setLevel(0)">Свои</div>
			</div>
			<?php
				$names = array(
				"name" => "Имя пользователя",
				"width" => "Ширина",
				"height" => "Высота",
				"numberBombs" => "Кол-во бомб",
				);
				foreach ($names as $key => $value) {
				print "<div class='row'>";
					print "<span class='name'>{$value}</span>";
					print "<input type='text' name='{$key}' value='{$settings[$key]}' class='value'>";
				print "</div>";
				}
			?>
			<button name="setSettings" class="saveSettings button10">Save Settings</button>
		</form>
		<div class="statistic">
			<?php RecordWriter::printTable($coll); ?>
		</div>
	</div>

	<div class="popup">
	</div>
</body>
</html>

<!-- 	<div class="messages">
	<?php
		foreach (MinerController::getMessages() as $n => $value){
			print $value.'<br>';
		}
	?>
	</div> -->