<?php

namespace miner\classes;

$settings = MinerController::getSettings()->getArraySettings();
$miner = MinerController::getMiner();
?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php print 'Привет, '.$settings['name'] ?></title>
    <link href="/Miner/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="/Miner/js/lib.js" defer></script>
    <script src="/Miner/js/script.js" defer></script>
</head>
<body>
	<div class="messages">
	<?php
		foreach (MinerController::getMessages() as $n => $value){
			print $value.'<br>';
		}
	?>
	</div>
	<br><br>
	<?php MinerWriter::printField($miner); ?>
	<br>
	<form action="/" method="POST" id="formClickField">
		<input type="hidden" name="coord">
	</form>
	<form name="formRemainingBombs">
		Осталось бомб:
		<input type="text" name="bombs" value="<?php print $miner->getSettings()['numberBombs']?>">
	</form>
	<br>
	<form action="/" method="POST" id=formSettings>
		<?php
			$names = array(
				"name" => "Имя пользователя",
				"width" => "Ширина",
				"height" => "Высота",
				"numberBombs" => "Кол-во бомб",
				//"cellSize" => "Размер ячеек"
			);
			foreach ($names as $key => $value) {
				print "{$value} <input type='text' name='{$key}' value='{$settings[$key]}'><br>";
			}
		?>
		<button name="newGame" onClick="clearImageField()">NewGame</button>
		<button name="loadGame">LoadGame</button>
		<button name="setSettings">SetSettings</button>
	</form>
</body>
</html>