<?php

namespace Miner\classes;

?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Miner</title>
</head>
<body>
	<?php
		foreach (MinerController::getMessages() as $n => $value){
			print $value.'<br>';
		}
	?>
	<br><br>
	<?php
		print "<pre>";
		foreach (MinerController::getField() as $h => $row){
			foreach ($row as $w => $cell){
				print '['.$cell.']';
			}
			print '<br>';
		}
		print "</pre>";
	?>
	<br><br>
	<form action="/" method="POST">
		<?php
			$names = array(
				"width" => "Ширина",
				"height" => "Высота",
				"numberBombs" => "Кол-во бомб"
			);
			foreach (MinerController::getSettings() as $key => $value) {
				print "{$names[$key]} <input type='text' name='{$key}' value='{$value}'><br>";
			}
		?>
		<button name="newGame">NewGame</button>
		<button name="loadGame">LoadGame</button>
		<button name="setSettings">SetSettings</button>
	</form>
</body>
</html>